<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header is-style-kenzie-sticky-header"} /-->

<!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"padding":{"bottom":"calc(var(--wp--custom--v-spacing, 1.25rem) *2)"},"margin":{"top":"0px"}}},"layout":{"inherit":true}} -->
<main class="wp-block-group alignfull" style="margin-top:0px;padding-bottom:calc(var(--wp--custom--v-spacing, 1.25rem) *2)">

	<!-- wp:pattern {"slug":"kenzie/full-featured-image-cover"} /-->

	<!-- wp:spacer {"height":20} -->
	<div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->

	<!-- wp:post-content {"align":"full","layout":{"inherit":true}} /-->

	<!-- wp:spacer {"height":20} -->
	<div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->

	<!-- wp:separator {"color":"foreground","className":"is-style-wide"} -->
	<hr class="wp-block-separator has-text-color has-background has-foreground-background-color has-foreground-color is-style-wide" />
	<!-- /wp:separator -->

	<!-- wp:post-comments /-->

	<!-- wp:group {"layout":{"type":"flex","allowOrientation":false,"justifyContent":"space-between","flexWrap":"wrap"}} -->
	<div class="wp-block-group">
		<!-- wp:post-navigation-link {"showTitle":true} /-->

		<!-- wp:post-navigation-link {"type":"previous","showTitle":true} /-->
	</div>
	<!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-wide","tagName":"footer","className":"site-footer"} /-->
